<h1>{{ name }}</h1>

<h3><a href="https://twitter.com/huertify">En Twitter</a></h3>

<img
  src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Cucumber_leaf.jpg"
  width="100"
/>

<p>
  La <a href="https://www.linuxfoundation.org/">Linux Foundation</a> liberó hace
  poco su proyecto <a href="https://agstack.org/">Ag Stack</a>, 'Open-Source
  Digital Infrastructure for the Agriculture Ecosystem'.
</p>

<ul>
  <li>Usted tiene su huerto.</li>
  <li>Pero, a veces, olvida regarlo, cuandop fertilizar, etc...</li>
  <li>
    <strong><a href="http://www.huertify.cl">Huertify</a></strong> se lo
    recuerda.
  </li>
  <li>
    Administra tus recordatorios de riego, periodos de fertilización, cosheca y
    siembra de tu huerto.
  </li>
  <li>Recibe notificaciones en tu celular! <i>(en desarrollo)</i>.</li>
  <li>
    Y recuerda, <a href="http://www.Huertify.cl">Huertify</a> te ayuda en la
    administración de tu huerto urbano.
  </li>
  <li>...pero quien lo cuida, son tus manos.</li>
</ul>

<p>
  <strong
    >Huertify es una aplicacion gratuita, de codigo abierto y sin fines de
    lucro</strong
  >
</p>

<p><a href="https://www.linuxfoundation.org/">Linux Foundation</a></p>
<p><a href="https://agstack.org/">AgStack.org</a></p>
<p>
  <a href="https://es.wikipedia.org/wiki/Fundaci%C3%B3n_Linux">Wikipedia</a>
</p>
<p><a href="https://twitter.com/huertify">Síguenos y colabora!</a></p>

<p>
  <i
    ><a
      href="https://es.wikipedia.org/wiki/Brote_(bot%C3%A1nica)#/media/Archivo:Cucumber_leaf.jpg"
      >Imagen: Wikipedia</a
    ></i
  >
</p>
